/* undo center align in the text editor in ie */
html body {
	text-align: left;
}

/* fix stupid drupal css bug */
fieldset legend {
	display: block;
}

.dijitEditorInner body {
	background: none;
}

.dijitEditor {
	border: solid 1px #999;
}

.dijitEditor table {
	margin: 0;
	width: auto;
}

.dijitEditor td, th {
	padding: 0;
}

table.dojoGoogleMapsKeyTable input {
	width: 100%;
}

/* undo styles to fix color pickers */
span > table {
	margin: 0;
	width: auto;
}

.dojoSvnTree {
	border: solid 1px #666;
	height: 250px;
	overflow: auto;
}

.dojoSvnTree table {
	margin: 0;
}

.dojoSvnOutput {
	border: solid 1px #666;
	height: 300px;
	overflow: auto;
	white-space: nowrap;
}

.dijitDialog {
	background: #fff;
	border: 1px solid #999;
	-moz-border-radius: 8px;
	padding: 12px;
}

.dijitDialog span.Indicator {
	color: #666;
	background: url(indicator.gif) no-repeat left 0;
	display: block;
	font-size: 16px;
	height: 24px;
	line-height: 26px;
	padding-left: 30px;
	overflow: hidden;
}

.dojoCustomizeToolbar:after {
	clear: both;
}

.dojoCustomizeToolbar div {
	float: left;
	margin-right: 10px;
}

.dojoCustomizeToolbar .list {
	border: solid 1px #999;
	height: 260px;
	overflow: auto;
	width: 175px;
}

.dojoCustomizeToolbar .dijitEditorIcon {
	display: block;
	float: left;
	margin-right: 5px;
}

.dojoCustomizeToolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 1px;
}

.dojoCustomizeToolbar li {
	background: none;
	cursor: pointer;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 1px 1px 1px 5px;
}

.dojoCustomizeToolbar li.selected {
	background-color: #3366ff;
	border: dotted 1px #fff;
	color: #FFF;
	padding: 0px 0px 0px 4px;
}

.dojoCustomizeToolbar .buttonColumn {
	padding-top: 100px;
}

.dojoCustomizeToolbar .button {
	margin-bottom: 10px;
	width: 90px;
}
