<div class="CustomizeToolbar">
	<input dojoAttachPoint="_inputField" type="hidden" />
	<div class="List"><ul dojoAttachPoint="_availableList"></ul></div>
	<div class="ButtonColumn">
		<input type="button" class="Button" dojoAttachPoint="_addButton" value="Add &gt;" /><br />
		<input type="button" class="Button" dojoAttachPoint="_removeButton" value="&lt; Remove" />
	</div>
	<div class="List"><ul dojoAttachPoint="_selectedList"></ul></div>
	<div class="ButtonColumn">
		<input type="button" class="Button" dojoAttachPoint="_moveUpButton" value="Move Up" /><br />
		<input type="button" class="Button" dojoAttachPoint="_moveDownButton" value="Move Down" />
	</div>
</div>